<div class="px-40 mt-10 flex justify-center w-full">
    <form class="w-96 shadow p-6">
        @if (id) {
            <h1>Update Brand</h1>
        }@else {
            <h1>Add New Brand</h1>
        }
        <div class="flex flex-wrap">
            <mat-form-field class="w-full">
                <mat-label>Name</mat-label>
                <input type="text" matInput placeholder="enter brand name" name="name" [(ngModel)]="name">
            </mat-form-field>
        </div>
        <div class="flex justify-center">
            @if (id) {
                <button mat-raised-button color="primary" (click)="update()" [disabled]="!name">Update</button>
            }@else {
                <button mat-raised-button color="primary" (click)="add()" [disabled]="!name">Add</button>
            }
        </div>
    </form>
</div>