<div class="px-20">
    <div>
        <owl-carousel-o [options]="customOptions">
            @for(item of bannerImages; track $index){
                <ng-template carouselSlide>
                    <div class="relative flex flex-col" [routerLink]="'product/'+item._id">
                        <img [src]="item.images[0]" alt="images">
                        <span>{{ item.name }}</span>
                    </div>
                </ng-template>
            }
        </owl-carousel-o>
    </div>

    <div class="border-b py-4">
        <h4 class="text-4xl font-bold mb-2">Featured Products</h4>
        <div class="flex flex-wrap gap-6">
            @for(product of featuredProducts; track $index) {
                <app-product-card [product]="product"></app-product-card>
            }
            
        </div>
    </div>

    <div class="border-b py-4">
        <h4 class="text-4xl font-bold mb-2">New Products</h4>
        <div class="flex flex-wrap gap-6">
            @for(product of newProducts; track $index) {
                <app-product-card [product]="product"></app-product-card>
            }
            
        </div>
    </div>
</div>